<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Success</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-light">
    <div class="container mt-5 text-center">
      <div class="alert alert-success">
        <h4 class="alert-heading">Sneaker Added!</h4>
        <p>Your sneaker <strong><%= name %></strong> was saved.</p>
      </div>
      <a href="/form" class="btn btn-primary mr-2">Add Another</a>
      <a href="/collection" class="btn btn-secondary">View Collection</a>
    </div>
  </body>
</html>
